version: '3.8'

networks:
  internal:
    driver: bridge
  web:
    driver: bridge

services:
  postgres:
    image: postgres:16
    container_name: password-manager-db
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    networks:
      - internal
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
  app:
    build: ./server
    expose:
      - "8080"
    networks:
      - internal  
    depends_on:
      - postgres
    environment:
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ACCESS_TOKEN_EXPIRES=${JWT_ACCESS_TOKEN_EXPIRES}
      - DB_HOST=postgres
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    security_opt:
      - no-new-privileges:true
  nginx:
    image: nginx:latest
    networks:
      - internal  
      - web
    ports:
      - 80:80    
      - 443:443  
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d         
      - ./static:/usr/share/nginx/html     
      - ./certbot/www:/var/www/certbot           
      - ./certbot/conf:/etc/letsencrypt 
    restart: unless-stopped
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email ${CERTBOT_EMAIL} --agree-tos -d ${DOMAIN}
    restart: unless-stopped
    networks:
      - web
volumes:
  postgres_data:
